@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --DarkBlueDarkModeElements: hsl(209, 23%, 22%);
  --VeryDarkBlueDarkModeBackground: hsl(210, 28%, 21%);
  --VeryDarkBlueLightModeText: hsl(200, 15%, 8%);
  --DarkGrayLightModeInput: hsl(0, 0%, 52%);
  --VeryLightGrayLightModeBackground: hsl(0, 0%, 98%);
  --WhiteDarkModeTextLightModeElements: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--VeryLightGrayLightModeBackground);
}
